<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

   <!-- General description of your web application -->
   <display-name>amicyf</display-name>
   <description>
    	descripcion del proyecto amicyf
   </description>
   <!--listener para arrancar el motor del torque -->
    <listener>
     <listener-class>net.idtoki.amicyf.app.events.OnStartUp</listener-class>
    </listener>
    <!-- mapeo de los servlets-->  
    <servlet>
        <servlet-name>ListaMantenimientosPendientesServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimientosPendientes.adapters.ListaMantenimientosPendientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfListaMantenimientosPendientesServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimientosPendientes.adapters.PdfListaMantenimientosPendientesServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>ListaCorrectivosPendientesServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.correctivosPendientes.adapters.ListaCorrectivosPendientesServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>PdfListaCorrectivosPendientesServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.correctivosPendientes.adapters.PdfListaCorrectivosPendientesServlet</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>ListaInstalacionesContratoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacionesContrato.adapters.ListaInstalacionesContratoServlet</servlet-class>
    </servlet>       
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.global.adapters.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XmlImportarTxtServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.global.adapters.XmlImportarTxtServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>CierraServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.global.adapters.CierraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>protocoloActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.protocolo.protocoloActualizarServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>protocoloActualizarProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.protocolo.protocoloActualizarProcesarServlet</servlet-class>
    </servlet>        
    <servlet>
        <servlet-name>MantenimientoNuevoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimiento.adapters.MantenimientoNuevoServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>CorrectivoNuevoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.correctivo.adapters.CorrectivoNuevoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialNuevoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.material.adapters.MaterialNuevoServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>CorrectivoActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.correctivo.adapters.CorrectivoActualizarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.material.adapters.MaterialActualizarServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>PdfCorrectivoActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.correctivo.adapters.PdfCorrectivoActualizarServlet</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>PdfMaterialActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.material.adapters.PdfMaterialActualizarServlet</servlet-class>
    </servlet>                   
    <servlet>
        <servlet-name>ClienteProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.cliente.adapters.ClienteProcesarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstalacionProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacion.adapters.InstalacionProcesarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaquinaActualizarProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.MaquinaActualizarProcesarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaquinaNuevoProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.MaquinaNuevoProcesarServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>MantenimientoNuevoProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimiento.adapters.MantenimientoNuevoProcesarServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>KilometrajeProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.kilometraje.adapters.KilometrajeProcesarServlet</servlet-class>
    </servlet>      
    <servlet>
        <servlet-name>PerfilProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.perfil.adapters.PerfilProcesarServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>CorrectivoProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.correctivo.adapters.CorrectivoProcesarServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>MaterialProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.material.adapters.MaterialProcesarServlet</servlet-class>
    </servlet>             
    <servlet>
        <servlet-name>MantenimientoNuevoProcesarYExportarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimiento.adapters.MantenimientoNuevoProcesarYExportarServlet</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>MantenimientoActualizarProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimiento.adapters.MantenimientoActualizarProcesarServlet</servlet-class>
    </servlet>    
   
    <servlet>
        <servlet-name>XmlKilometrajeBorrarProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.kilometraje.adapters.XmlKilometrajeBorrarProcesarServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>XmlPerfilBorrarProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.perfil.adapters.XmlPerfilBorrarProcesarServlet</servlet-class>
    </servlet>        
    <servlet>
        <servlet-name>XmlClienteBorrarProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.cliente.adapters.XmlClienteBorrarProcesarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XmlInstalacionBorrarProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacion.adapters.XmlInstalacionBorrarProcesarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XmlMaquinaBorrarProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.XmlMaquinaBorrarProcesarServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>XmlMantenimientoBorrarProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimiento.adapters.XmlMantenimientoBorrarProcesarServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>XmlCorrectivoBorrarProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.correctivo.adapters.XmlCorrectivoBorrarProcesarServlet</servlet-class>
    </servlet>      
    <servlet>
        <servlet-name>XmlMaterialBorrarProcesarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.material.adapters.XmlMaterialBorrarProcesarServlet</servlet-class>
    </servlet>         
    
    <servlet>
        <servlet-name>XmlGetProvinciasServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.global.adapters.XmlGetProvinciasServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>XmlGetLocalidadesServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.global.adapters.XmlGetLocalidadesServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>XmlGetClientesServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacion.adapters.XmlGetClientesServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>XmlGetInstalacionesServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.XmlGetInstalacionesServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>XmlGetProtocolosServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.global.adapters.XmlGetProtocolosServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>XmlGetProtocolosConfServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.global.adapters.XmlGetProtocolosConfServlet</servlet-class>
    </servlet>    
        <servlet>
        <servlet-name>XmlGetProtocoloCaracteristicassServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.global.adapters.XmlGetProtocoloCaracteristicassServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>XmlGetProtocoloMantenimientossServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.global.adapters.XmlGetProtocoloMantenimientossServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>XmlGetPerfilesServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.global.adapters.XmlGetPerfilesServlet</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>XmlGetKilometrajesServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.global.adapters.XmlGetKilometrajesServlet</servlet-class>
    </servlet>      
   
    <servlet>
        <servlet-name>ListaKilometrajeServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.kilometraje.adapters.ListaKilometrajeServlet</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>ListaPerfilServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.perfil.adapters.ListaPerfilServlet</servlet-class>
    </servlet>      
    <servlet>
        <servlet-name>ListaClienteServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.cliente.adapters.ListaClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfListaClienteServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.cliente.adapters.PdfListaClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CsvListaClienteServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.cliente.adapters.CsvListaClienteServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>ListaInstalacionServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacion.adapters.ListaInstalacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfListaInstalacionServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacion.adapters.PdfListaInstalacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CsvListaInstalacionServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacion.adapters.CsvListaInstalacionServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>PdfListaInstalacionesContratoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacionesContrato.adapters.PdfListaInstalacionesContratoServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>ListaMaquinaServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.ListaMaquinaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaMaquinaBuscarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.ListaMaquinaBuscarServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>PdfListaMaquinaServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.PdfListaMaquinaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CsvListaMaquinaServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.CsvListaMaquinaServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>PdfListaMaquinaBuscarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.PdfListaMaquinaBuscarServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>PdfInstalacionActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacion.adapters.PdfInstalacionActualizarServlet</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>PdfInformeInstalacionActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacion.adapters.PdfInformeInstalacionActualizarServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>PdfCorrectivosInformeInstalacionActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacion.adapters.PdfCorrectivosInformeInstalacionActualizarServlet</servlet-class>
    </servlet>         
    <servlet>
        <servlet-name>PdfMaquinaActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.PdfMaquinaActualizarServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>PdfInformePendientesServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.PdfInformePendientesServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>PdfInformeMaquinaActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.PdfInformeMaquinaActualizarServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>PdfClienteActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.cliente.adapters.PdfClienteActualizarServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>PdfInformeClienteActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.cliente.adapters.PdfInformeClienteActualizarServlet</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>PdfCorrectivosInformeClienteActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.cliente.adapters.PdfCorrectivosInformeClienteActualizarServlet</servlet-class>
    </servlet>               
    <servlet>
        <servlet-name>PdfListaMantenimientoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimiento.adapters.PdfListaMantenimientoServlet</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>CsvListaMantenimientoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimiento.adapters.CsvListaMantenimientoServlet</servlet-class>
    </servlet>       
    <servlet>
        <servlet-name>PdfMantenimientoActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimiento.adapters.PdfMantenimientoActualizarServlet</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>ListaMantenimientoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimiento.adapters.ListaMantenimientoServlet</servlet-class>
    </servlet>      
    <servlet>
        <servlet-name>ListaCorrectivoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.correctivo.adapters.ListaCorrectivoServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>ListaMaterialServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.material.adapters.ListaMaterialServlet</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>PdfListaCorrectivoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.correctivo.adapters.PdfListaCorrectivoServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>CsvListaCorrectivoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.correctivo.adapters.CsvListaCorrectivoServlet</servlet-class>
    </servlet>         
    <servlet>
        <servlet-name>PdfListaMaterialServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.material.adapters.PdfListaMaterialServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>KilometrajeActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.kilometraje.adapters.KilometrajeActualizarServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>PerfilActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.perfil.adapters.PerfilActualizarServlet</servlet-class>
    </servlet>                
    <servlet>
        <servlet-name>ClienteActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.cliente.adapters.ClienteActualizarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstalacionActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacion.adapters.InstalacionActualizarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaquinaActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.MaquinaActualizarServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>MantenimientoActualizarServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.mantenimiento.adapters.MantenimientoActualizarServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>KilometrajeNuevoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.kilometraje.adapters.KilometrajeNuevoServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>PerfilNuevoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.perfil.adapters.PerfilNuevoServlet</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>ClienteNuevoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.cliente.adapters.ClienteNuevoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstalacionNuevoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.instalacion.adapters.InstalacionNuevoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaquinaNuevoServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.maquina.adapters.MaquinaNuevoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HtmlMaterialServlet</servlet-name>
        <servlet-class>net.idtoki.amicyf.material.adapters.HtmlMaterialServlet</servlet-class>
    </servlet>    
    

    <servlet-mapping>
        <servlet-name>CierraServlet</servlet-name>
        <url-pattern>/Servlet/CierraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaKilometrajeServlet</servlet-name>
        <url-pattern>/Servlet/ListaKilometrajeServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>ListaPerfilServlet</servlet-name>
        <url-pattern>/Servlet/ListaPerfilServlet</url-pattern>
    </servlet-mapping>            
    <servlet-mapping>
        <servlet-name>ListaClienteServlet</servlet-name>
        <url-pattern>/Servlet/ListaClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CsvListaClienteServlet</servlet-name>
        <url-pattern>/Servlet/CsvListaClienteServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>ListaMantenimientosPendientesServlet</servlet-name>
        <url-pattern>/Servlet/ListaMantenimientosPendientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfListaMantenimientosPendientesServlet</servlet-name>
        <url-pattern>/Servlet/PdfListaMantenimientosPendientesServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>ListaCorrectivosPendientesServlet</servlet-name>
        <url-pattern>/Servlet/ListaCorrectivosPendientesServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>PdfListaCorrectivosPendientesServlet</servlet-name>
        <url-pattern>/Servlet/PdfListaCorrectivosPendientesServlet</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
        <servlet-name>ListaInstalacionesContratoServlet</servlet-name>
        <url-pattern>/Servlet/ListaInstalacionesContratoServlet</url-pattern>
    </servlet-mapping>        
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/Servlet/IndexServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>XmlImportarTxtServlet</servlet-name>
        <url-pattern>/Servlet/XmlImportarTxtServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>protocoloActualizarServlet</servlet-name>
        <url-pattern>/Servlet/protocoloActualizarServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>protocoloActualizarProcesarServlet</servlet-name>
        <url-pattern>/Servlet/protocoloActualizarProcesarServlet</url-pattern>
    </servlet-mapping>          
    <servlet-mapping>
        <servlet-name>PdfListaClienteServlet</servlet-name>
        <url-pattern>/Servlet/PdfListaClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaInstalacionServlet</servlet-name>
        <url-pattern>/Servlet/ListaInstalacionServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>PdfListaInstalacionServlet</servlet-name>
        <url-pattern>/Servlet/PdfListaInstalacionServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>CsvListaInstalacionServlet</servlet-name>
        <url-pattern>/Servlet/CsvListaInstalacionServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>PdfListaInstalacionesContratoServlet</servlet-name>
        <url-pattern>/Servlet/PdfListaInstalacionesContratoServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>ListaMaquinaServlet</servlet-name>
        <url-pattern>/Servlet/ListaMaquinaServlet</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>ListaMaquinaBuscarServlet</servlet-name>
        <url-pattern>/Servlet/ListaMaquinaBuscarServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>PdfListaMaquinaServlet</servlet-name>
        <url-pattern>/Servlet/PdfListaMaquinaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CsvListaMaquinaServlet</servlet-name>
        <url-pattern>/Servlet/CsvListaMaquinaServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>PdfListaMaquinaBuscarServlet</servlet-name>
        <url-pattern>/Servlet/PdfListaMaquinaBuscarServlet</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>ListaMantenimientoServlet</servlet-name>
        <url-pattern>/Servlet/ListaMantenimientoServlet</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>ListaCorrectivoServlet</servlet-name>
        <url-pattern>/Servlet/ListaCorrectivoServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>ListaMaterialServlet</servlet-name>
        <url-pattern>/Servlet/ListaMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KilometrajeActualizarServlet</servlet-name>
        <url-pattern>/Servlet/KilometrajeActualizarServlet</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>PerfilActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PerfilActualizarServlet</url-pattern>
    </servlet-mapping>                         
    <servlet-mapping>
        <servlet-name>ClienteActualizarServlet</servlet-name>
        <url-pattern>/Servlet/ClienteActualizarServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>InstalacionActualizarServlet</servlet-name>
        <url-pattern>/Servlet/InstalacionActualizarServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>MaquinaActualizarServlet</servlet-name>
        <url-pattern>/Servlet/MaquinaActualizarServlet</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
        <servlet-name>MantenimientoActualizarServlet</servlet-name>
        <url-pattern>/Servlet/MantenimientoActualizarServlet</url-pattern>
    </servlet-mapping>             
    <servlet-mapping>
        <servlet-name>ClienteNuevoServlet</servlet-name>
        <url-pattern>/Servlet/ClienteNuevoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstalacionNuevoServlet</servlet-name>
        <url-pattern>/Servlet/InstalacionNuevoServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>MaquinaNuevoServlet</servlet-name>
        <url-pattern>/Servlet/MaquinaNuevoServlet</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
        <servlet-name>MantenimientoNuevoServlet</servlet-name>
        <url-pattern>/Servlet/MantenimientoNuevoServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>CorrectivoNuevoServlet</servlet-name>
        <url-pattern>/Servlet/CorrectivoNuevoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrectivoActualizarServlet</servlet-name>
        <url-pattern>/Servlet/CorrectivoActualizarServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>KilometrajeNuevoServlet</servlet-name>
        <url-pattern>/Servlet/KilometrajeNuevoServlet</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>PerfilNuevoServlet</servlet-name>
        <url-pattern>/Servlet/PerfilNuevoServlet</url-pattern>
    </servlet-mapping>        
    <servlet-mapping>
        <servlet-name>MaterialNuevoServlet</servlet-name>
        <url-pattern>/Servlet/MaterialNuevoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialActualizarServlet</servlet-name>
        <url-pattern>/Servlet/MaterialActualizarServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>PdfCorrectivoActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PdfCorrectivoActualizarServlet</url-pattern>
    </servlet-mapping>        
    <servlet-mapping>
        <servlet-name>PdfMaterialActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PdfMaterialActualizarServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>KilometrajeProcesarServlet</servlet-name>
        <url-pattern>/Servlet/KilometrajeProcesarServlet</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>PerfilProcesarServlet</servlet-name>
        <url-pattern>/Servlet/PerfilProcesarServlet</url-pattern>
    </servlet-mapping>                                           
    <servlet-mapping>
        <servlet-name>ClienteProcesarServlet</servlet-name>
        <url-pattern>/Servlet/ClienteProcesarServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>InstalacionProcesarServlet</servlet-name>
        <url-pattern>/Servlet/InstalacionProcesarServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>MaquinaActualizarProcesarServlet</servlet-name>
        <url-pattern>/Servlet/MaquinaActualizarProcesarServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>MaquinaNuevoProcesarServlet</servlet-name>
        <url-pattern>/Servlet/MaquinaNuevoProcesarServlet</url-pattern>
    </servlet-mapping> 
   <servlet-mapping>
        <servlet-name>CorrectivoProcesarServlet</servlet-name>
        <url-pattern>/Servlet/CorrectivoProcesarServlet</url-pattern>
    </servlet-mapping>   
   <servlet-mapping>
        <servlet-name>MaterialProcesarServlet</servlet-name>
        <url-pattern>/Servlet/MaterialProcesarServlet</url-pattern>
    </servlet-mapping>             
   <servlet-mapping>
        <servlet-name>MantenimientoNuevoProcesarServlet</servlet-name>
        <url-pattern>/Servlet/MantenimientoNuevoProcesarServlet</url-pattern>
    </servlet-mapping>       
    <servlet-mapping>
        <servlet-name>MantenimientoNuevoProcesarYExportarServlet</servlet-name>
        <url-pattern>/Servlet/MantenimientoNuevoProcesarYExportarServlet</url-pattern>
    </servlet-mapping>       
    <servlet-mapping>
        <servlet-name>MantenimientoActualizarProcesarServlet</servlet-name>
        <url-pattern>/Servlet/MantenimientoActualizarProcesarServlet</url-pattern>
    </servlet-mapping>    
       
    <servlet-mapping>
        <servlet-name>XmlKilometrajeBorrarProcesarServlet</servlet-name>
        <url-pattern>/Servlet/XmlKilometrajeBorrarProcesarServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>XmlPerfilBorrarProcesarServlet</servlet-name>
        <url-pattern>/Servlet/XmlPerfilBorrarProcesarServlet</url-pattern>
    </servlet-mapping>                 
    <servlet-mapping>
        <servlet-name>XmlClienteBorrarProcesarServlet</servlet-name>
        <url-pattern>/Servlet/XmlClienteBorrarProcesarServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>XmlInstalacionBorrarProcesarServlet</servlet-name>
        <url-pattern>/Servlet/XmlInstalacionBorrarProcesarServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>XmlMaquinaBorrarProcesarServlet</servlet-name>
        <url-pattern>/Servlet/XmlMaquinaBorrarProcesarServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>XmlMantenimientoBorrarProcesarServlet</servlet-name>
        <url-pattern>/Servlet/XmlMantenimientoBorrarProcesarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlCorrectivoBorrarProcesarServlet</servlet-name>
        <url-pattern>/Servlet/XmlCorrectivoBorrarProcesarServlet</url-pattern>
    </servlet-mapping>             
    <servlet-mapping>
        <servlet-name>XmlMaterialBorrarProcesarServlet</servlet-name>
        <url-pattern>/Servlet/XmlMaterialBorrarProcesarServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>PdfInstalacionActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PdfInstalacionActualizarServlet</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>PdfInformeInstalacionActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PdfInformeInstalacionActualizarServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>PdfCorrectivosInformeInstalacionActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PdfCorrectivosInformeInstalacionActualizarServlet</url-pattern>
    </servlet-mapping>                
    <servlet-mapping>
        <servlet-name>PdfMaquinaActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PdfMaquinaActualizarServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>PdfInformePendientesServlet</servlet-name>
        <url-pattern>/Servlet/PdfInformePendientesServlet</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
        <servlet-name>PdfInformeMaquinaActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PdfInformeMaquinaActualizarServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>PdfClienteActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PdfClienteActualizarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfInformeClienteActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PdfInformeClienteActualizarServlet</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>PdfCorrectivosInformeClienteActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PdfCorrectivosInformeClienteActualizarServlet</url-pattern>
    </servlet-mapping>                  
   <servlet-mapping>
        <servlet-name>PdfListaMantenimientoServlet</servlet-name>
        <url-pattern>/Servlet/PdfListaMantenimientoServlet</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>CsvListaMantenimientoServlet</servlet-name>
        <url-pattern>/Servlet/CsvListaMantenimientoServlet</url-pattern>
    </servlet-mapping>    
   <servlet-mapping>
        <servlet-name>PdfListaCorrectivoServlet</servlet-name>
        <url-pattern>/Servlet/PdfListaCorrectivoServlet</url-pattern>
    </servlet-mapping>  
   <servlet-mapping>
        <servlet-name>CsvListaCorrectivoServlet</servlet-name>
        <url-pattern>/Servlet/CsvListaCorrectivoServlet</url-pattern>
    </servlet-mapping>       
   <servlet-mapping>
        <servlet-name>PdfListaMaterialServlet</servlet-name>
        <url-pattern>/Servlet/PdfListaMaterialServlet</url-pattern>
    </servlet-mapping>           
    <servlet-mapping>
        <servlet-name>PdfMantenimientoActualizarServlet</servlet-name>
        <url-pattern>/Servlet/PdfMantenimientoActualizarServlet</url-pattern>
    </servlet-mapping>              
                            
    <servlet-mapping>
        <servlet-name>XmlGetProvinciasServlet</servlet-name>
        <url-pattern>/Servlet/XmlGetProvinciasServlet</url-pattern>
    </servlet-mapping>                
    <servlet-mapping>
        <servlet-name>XmlGetLocalidadesServlet</servlet-name>
        <url-pattern>/Servlet/XmlGetLocalidadesServlet</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>XmlGetClientesServlet</servlet-name>
        <url-pattern>/Servlet/XmlGetClientesServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>XmlGetInstalacionesServlet</servlet-name>
        <url-pattern>/Servlet/XmlGetInstalacionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlGetProtocolosServlet</servlet-name>
        <url-pattern>/Servlet/XmlGetProtocolosServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>XmlGetProtocolosConfServlet</servlet-name>
        <url-pattern>/Servlet/XmlGetProtocolosConfServlet</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
        <servlet-name>XmlGetProtocoloCaracteristicassServlet</servlet-name>
        <url-pattern>/Servlet/XmlGetProtocoloCaracteristicassServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>XmlGetProtocoloMantenimientossServlet</servlet-name>
        <url-pattern>/Servlet/XmlGetProtocoloMantenimientossServlet</url-pattern>
    </servlet-mapping>   
    
    <servlet-mapping>
        <servlet-name>XmlGetPerfilesServlet</servlet-name>
        <url-pattern>/Servlet/XmlGetPerfilesServlet</url-pattern>
    </servlet-mapping>       
    <servlet-mapping>
        <servlet-name>XmlGetKilometrajesServlet</servlet-name>
        <url-pattern>/Servlet/XmlGetKilometrajesServlet</url-pattern>
    </servlet-mapping> 
    
    <servlet-mapping>
        <servlet-name>HtmlMaterialServlet</servlet-name>
        <url-pattern>/Servlet/HtmlMaterialServlet</url-pattern>
    </servlet-mapping>   
          
</web-app>
